<!DOCTYPE html>
<html th:replace="~{/_admin_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">

<title id="title">Admin | Update Manufacturer</title>
<div id="content" align="center">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Update Manufacturer</h1>
    <form style="width: 50%" th:action="@{/saveManufacturer}" th:object="${manufacturer}" method="post" class="user">
        <hr>
        <table style="width: 85%;border-collapse: separate; border-spacing: 0 15px;">
            <tr>
                <td><label>ID: </label></td>
                <td><input type="text" th:field="*{id}" class="form-control form-control-user" readonly></td>
            </tr>
            <tr>
                <td><label>Manufacturer Name: </label></td>
                <td><input type="text" th:field="*{name}" class="form-control form-control-user"
                           placeholder="Manufacturer Name" required="required" pattern="[^' ']+" title="This field mustn't contain Space character" autofocus></td>
            </tr>
            <tr>
                <td><label>Country: </label></td>
                <td><input type="text" th:field="*{country}" class="form-control form-control-user"
                           placeholder="Country"
                           required="true"></td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <button type="submit" class="btn-lg btn-success" value="submit">Save</button></td>
            </tr>
        </table>
        <hr>
    </form>
</div>

<!-- End of Content Wrapper -->

</html>
