<!DOCTYPE html>
<html class="no-js"
      th:replace="~{/_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content},
                                                ${session.PersonalInformation}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guitar Shop - Forgot Password</title>
</head>
<body>
<div id="main-content">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Forgot Password</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row" style="justify-content: center">
                <div class="col-lg-9">
                    <form th:action="@{/forgot_password}" method="post">
                        <h3>Type your registered Email</h3>
                        <span th:if="${message}">
                             <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success: </strong>[[${message}]]
                            </div>
                        </span>
                        <span th:if="${error}">
                             <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error: </strong>[[${error}]]
                            </div>
                        </span>
                        <div class="row login_form" style="justify-content: center">
                            <div class="col-md-12 form-group">
                                <input type="email" name="email" class="form-control" placeholder="Enter your registered e-mail" required autofocus/>
                            </div>
                            <div class="col-md-3 form-group">
                                <button class="primary-btn" type="Submit" >Send Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->    
</div>
</body>
</html>