<!DOCTYPE html>
<html class="no-js"
      th:replace="~{/_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content},
                                                ${session.PersonalInformation}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guitar Shop - Profile</title>
</head>
<body>
<div id="main-content">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Title</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row" style="justify-content: center">
                <div class="col-lg-9">
                    <form th:action="@{/reset_password}" method="post">
                        <input type="hidden" name="token" th:value="${token}" />
                        <h3 style="text-align: center">Reset Your Password</h3>
                        <span th:if="${message}">
                             <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Note: </strong>[[${message}]]
                            </div>
                        </span>
                        <span th:if="${error}">
                             <div class="alert alert-warning alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Note: </strong>[[${error}]]
                            </div>
                        </span>
                        <div class="row login_form" style="justify-content: center">
                            <div class="col-md-12 form-group">
                                <input type="password" name="password" id="password" class="form-control"
                                       placeholder="New password" onkeyup='check();' pattern=".{6,}" title="Password must contain 6 or more characters" required autofocus />
                            </div>
                            <div class="col-md-12 form-group" style="justify-content: center">
                                <input type="password" class="form-control" id="confirm_password" onkeyup='check();' pattern=".{6,}" title="Password must contain 6 or more characters" placeholder="Retype new password"
                                       required />
                                <span id='message'></span>
                            </div>

                            <div class="col-md-12 form-group" style="text-align: center">
                                <button id="btn_save" class="btn btn-lg btn-primary" type="Submit" disabled>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->    
    <script type="text/javascript">
        var check = function() {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value &&
                document.getElementById('password').value != '') {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Retype Password Matched!!!';
                document.getElementById('btn_save').disabled = false;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Retype Password Not Match';
                document.getElementById('submit').disabled = true;
            }
        }
    </script>
</div>

</body>
</html>